OPENAGENT_FEISHU_APP_ID=xxx
OPENAGENT_FEISHU_APP_SECRET=xxx
OPENAGENT_WORKSPACE_ROOT=$PWD
OPENAGENT_PROVIDER=openai
OPENAGENT_BASE_URL=http://127.0.0.1:8001
OPENAGENT_MODEL=gpt-4.1
OPENAGENT_DATA_ROOT=.openagent

OPENAGENT_WEBFETCH_BACKEND=firecrawl
OPENAGENT_WEBSEARCH_BACKEND=firecrawl
OPENAGENT_FIRECRAWL_BASE_URL=http://127.0.0.1:3002
